<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="b715fb25-12f2-4cfc-bc7d-32b7a3b93cb3" wadlVersion="http://wadl.dev.java.net/2009/02" name="GetUserByParam" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="b715fb25-12f2-4cfc-bc7d-32b7a3b93cb3fileName">GetUserByParam</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>http://tekschool-test-env.herokuapp.com</con:endpoint></con:endpoints></con:interface>